{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],

  "rules": {
    "@typescript-eslint/rule-name": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-module-boundary-types": "error"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/rule-name": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/explicit-module-boundary-types": ["error"]
      }
    }
  ]
}
